#the remaining dependencies
python-dotenv
numpy
scipy
torch
soundfile
torchaudio
librosa #because some dependencies use anyway so can't avoid sry
pyworld
praat-parselmouth
torchcrepe
huggingface-hub
fairseq


