#the remaining dependencies
python-dotenv
numpy
scipy
torch --index-url https://download.pytorch.org/whl/cu118
soundfile
torchaudio
librosa #because some dependencies use anyway so can't avoid sry
pyworld
praat-parselmouth
torchcrepe
huggingface-hub
#fairseq
git+https://github.com/One-sixth/fairseq.git #for python 3.11+ support.


